* {
  font: 16px monospace;
}

:root {
  --backcol: #ffffff;
  --backhi: #f3f3f3;
  --imgBorder: #4993cf;
  --backhishadow: #7c7c7c;
  --hoverblue: #127bd1;
  --submitgreen: #17c500;
}

body {
  justify-content: center;
  display: flex;
  background-color: var(--backcol);
  background-size: cover;
  margin: 0;
  text-align: center;
  min-height: 100vh;
}

main {
  background-color: var(--backcol);
  text-align: center;
  margin: 0;
  max-width: 1500px;
}

ul {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  left: 0px;
  width: 100%;
  background-color: var(--backcol);
}

li {
  padding: 15px;
}

.grid-container {
  display: grid;
}

.name {
  color: black;
  justify-self: left;
  align-self: start;
  border-radius: 5px;
  grid-column: 1fr / span 4fr;
}

h1 {
  font-size: large;
}

.title {
  font-size: x-large;
  text-decoration: underline;
}

.name:hover {
  color: white;
  background-color: var(--hoverblue);
}

.tab {
  color: black;
  font-size: medium;
  justify-self: center;
  align-self: center;
}

.tab:hover {
  color: white;
  background-color: var(--hoverblue);
  border-radius: 5px;
}

.page {
  display: grid;
  grid-template-columns: 1fr;
  border: 0px;
  margin-top: 50px;
  margin-bottom: 10px;
  column-gap: 0;
}

.projImg {
  justify-self: center;
  align-self: center;
  margin-top: 30px;
  border-radius: 8px;
  border: 4px solid var(--imgBorder);
  width: 90%;
  max-width: 400px;
  max-height: 400px;
  min-width: 200px;
  min-height: 200px;
  z-index: auto;
}

.clickMe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  justify-self: center;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.5s;
  z-index: 10;
  color: white;
}

.projImg:hover {
  border: 4px solid var(--hoverblue);
}

.projImg:hover + .clickMe {
  visibility: visible;
  opacity: 1;
}

.clickMe:hover {
  visibility: visible;
}

.headshot {
  justify-self: center;
  align-self: center;
  margin-top: 30px;
  border-radius: 8px;
  border: 5px solid var(--imgBorder);
  width: 90%;
  max-width: 450px;
  max-height: 450px;
  min-width: 250px;
  min-height: 250px;
}

.para {
  padding: 5px;
  justify-self: center;
  align-self: center;
  background-color: var(--backhi);
  box-shadow: 3px 3px 3px var(--backhishadow);
  border-radius: 8px;
  margin: 10px;
}

.form {
  width: 80%;
  justify-self: center;
  background-color: var(--backhi);
  box-shadow: 3px 3px 3px var(--backhishadow);
  border-radius: 8px;
  margin-top: 30px;
  max-width: 510px;
}

.formHeader {
  width: 100%;
  font-size: x-large;
  text-align: center;
  border: 0;
  padding: 0;
}

.formElement {
  border: 0;
  padding: 0;
}

.label {
  font-weight: bold;
  font-size: smaller;
  vertical-align: middle;
}

.input-box {
  width: 40%;
  margin: 10px;
  border-radius: 4px;
}

.input-box:hover {
  border-color: var(--hoverblue);
}

.message-box {
  width: 90%;
  height: auto;
  margin-bottom: 5%;
  border-radius: 4px;
}

.btn {
  border-style: solid;
  border-radius: 5px;
  width: 35%;
  height: 30px;
  font-size: medium;
  margin-bottom: 5%;
}

.btn[type="submit"] {
  background-color: white;
  border-color: black;
  color: black;
  margin-right: 5px;
}

.btn[type="submit"]:hover {
  background-color: var(--hoverblue);
  color: white;
}

.btn[type="reset"] {
  border-color: black;
  background-color: white;
  color: black;
  margin-left: 5px;
}

.btn[type="reset"]:hover {
  background-color: red;
  color: white;
}

@media (min-width: 768px) and (max-width: 1023px) {
  main {
    width: 80%;
  }
  .page {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 0px;
  }

  ul {
    position: static;
    width: 100%;
  }
  .tab {
    font-size: medium;
  }
  h1 {
    font-size: large;
  }
  .headshot {
    margin: 10px;
  }
  .projImg {
    margin: 10px;
  }
  .wide {
    grid-column: span 2;
  }
  .form {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  main {
    width: 80%;
  }
  .page {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 0px;
  }
  ul {
    position: static;
    width: 100%;
  }
  .tab {
    font-size: large;
  }
  h1 {
    font-size: large;
  }
  .headshot {
    margin: 10px;
  }
  .wide {
    grid-column: span 2;
  }
  .para {
    width: 80%;
  }
  .form {
    margin-top: 0;
  }
}
